* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}

body {
background:#EFF227;
background: linear-gradient(90deg, rgba(12, 41, 130, 1) 25%, rgba(87, 199, 193, 1) 50%, rgba(71, 55, 87, 1) 75%);}

.contenedor-1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
}

.logo-section {
  display: flex;
  align-items: center;
}

.logo-icon {
  height: 60px;
  margin-right: 10px;
}

.logo-text {
  font-weight: bold;
  color: aqua;
  font-size: 18px;
}

.nav-links {
  display: flex;
  gap: 30px;
}

.nav-links a {
  color: aqua;
  font-weight: 700;
  font-size: 18px;
  text-decoration: none;
}
nav a.active {
  color: black;
}
.search-box input {
  padding: 5px 10px;
  border-radius: 5px;
  border: 1px solid #000;
}

.main-content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 100px);
}

.main-content h1 {
  font-size: 80px;
  font-weight: 900;
  color:}

 .logo1{
  text-align: center;
 }